
.container {
    width : 100%;
    margin : 50px auto;
}




.report {
    padding: 5px 10px;
    background-color: hsl(69, 84%, 53%);
    color: white;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid #3498db;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.logout {
    padding: 5px 10px;
    background-color: hsl(297, 83%, 50%);
    color: white;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid #3498db;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}



.table {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}



.table caption {
    font-size:20px;
    font-weight :500;
    margin-bottom: 0.5 rem;
}
.table,
.table th,
.table td {
    border : 1px solid #ddd;
    border-collapse: collapse;
}
.table th,
.table td {
    padding : 1rem;
}
.table tr:nth-child(even) {
    background-color :whitesmoke
}
.table tr:hover{
    background-color: bisque;
}






.purchase {
    background-color: lightpink;
    font-family:monospace;
    font-size: larger;
    font-weight: bold;
}

.purchase:hover{
    background-color: rgb(180, 41, 62);
}

.sell {
    background-color: lightgreen;
    font-family:monospace;
    font-size: larger;
    font-weight: bold;
    color:black;

}
.sell:hover {
    background-color: rgb(54, 163, 54);
}
.update {
    background-color:lightsalmon;
    font-family:monospace;
    font-size: larger;
    font-weight: bold;
    color:black;
}
.update:hover {
    background-color: rgb(241, 82, 109);
}
.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline:none;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform : uppercase;
}
.btn:hover {
    cursor: pointer;
}
.btn-submit {
    background: color #000;
    color: #000;
    border: 2px solid #000;
    border-radius: 0.25rem;
    padding: 10px 20px;
    
}

.group {
    
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-historys: center;

}

.add {
    display: inline-block;
    padding: 2px 10px;
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid #3498db;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.add p{
    text-align: center;
    font-size: 30px;
    margin: auto;
}

.refresh {
    padding: 2px 10px;
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color: #51e055;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid #3498db;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.refresh p{
    text-align: center;
    font-size: 30px;
    margin: auto;
    
}
.refresh a{
    color: #000;
}


.searching {
    border: 5px solid black;
    display: inline-block;
      
        
}
.search_bar {
    padding:10px;
    border: 1px solid black;
    border-radius: 4px;   
    
}
.contain {
    width: 80%;
    margin:auto;
}